{% load static %}

<header class="header d-flex flex-wrap align-items-center " data-page="home" data-overlay="true">
    <div class="container d-flex flex-wrap flex-xl-nowrap align-items-center justify-content-between">
        <a class="brand header_logo d-flex align-items-center" href="{% url 'home' %}">
            <span class="logo">
                <svg width="48" height="45" viewBox="0 0 48 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <img class="logo" src="{% static 'img/logo.png' %}" alt="">
                    <defs>
                        <clipPath id="logoHeader">
                            <rect width="48" height="45" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </span>
            <span class="accent">Green</span>
            <span id="first">Remedy</span>
        </a>
        <nav class="header_nav">
            <ul class="header_nav-list">
                <li class="header_nav-list_item">
                    <a
                        class="nav-link "
                        href="{% url 'home' %}"
                    >
                        Home
                    </a>
                </li>
                <li class="header_nav-list_item">
                    <a
                        class="nav-link"
                        href="{% url 'about' %}"
                        
                    >
                        About
                    </a>
                </li>
                <li class="header_nav-list_item dropdown">
                    <a
                        class="nav-link dropdown-toggle d-inline-flex align-items-center"
                        href="{% url 'shop' %}"
                        data-bs-toggle="collapse"
                        data-bs-target="#shopMenu"
                        aria-expanded="false"
                        aria-controls="shopMenu"
                    >
                        Shop
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu collapse" id="shopMenu">
                        <ul class="dropdown-list">
                            <li class="list-item nav-item" data-page="shop">
                                <a class="dropdown-item" href="{% url 'shop' %}">Shop</a>
                            </li>
                            <li class="list-item nav-item" data-page="product">
                                <a class="dropdown-item" href="{% url 'product' %}">Product</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li class="header_nav-list_item dropdown">
                    <a
                        class="nav-link dropdown-toggle d-inline-flex align-items-center"
                        href="#"
                        data-bs-toggle="collapse"
                        data-bs-target="#newsMenu"
                        aria-expanded="false"
                        aria-controls="newsMenu"
                    >
                        News
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu collapse" id="newsMenu">
                        <ul class="dropdown-list">
                            <li class="list-item nav-item" data-page="news">
                                <a class="dropdown-item" href="news.html">News 01</a>
                            </li>
                            <li class="list-item nav-item" data-page="news2">
                                <a class="dropdown-item" href="news2.html">News 02</a>
                            </li>
                            <li class="list-item nav-item" data-page="post">
                                <a class="dropdown-item" href="post.html">Single Post 01</a>
                            </li>
                            <li class="list-item nav-item" data-page="post2">
                                <a class="dropdown-item" href="post2.html">Single Post 02</a>
                            </li>
                        </ul>
                    </div>
                </li> -->
                <li class="header_nav-list_item">
                    <a
                        class="nav-link "
                        href="{% url 'contact' %}"
                    >
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <span class="header_trigger d-inline-flex d-xl-none flex-column justify-content-between">
            <span class="line line--short"></span>
            <span class="line line"></span>
            <span class="line line--short"></span>
            <span class="line line"></span>
        </span>
        <div class="header_user d-flex justify-content-end align-items-center">
            <form class="header_user-search" action="#" method="get" data-type="searchForm">
                <input class="header_user-search_field field required" type="text" placeholder="Search..." />
                <button
                    class="header_user-search_btn header_user-action d-inline-flex align-items-center justify-content-center"
                    type="submit"
                    data-trigger="search"
                
                >
                    <i class="icon-search"></i>
                </button>
            </form>
            <a class="header_user-action d-inline-flex align-items-center justify-content-center" href="wishlist.html">
                <i class="icon-heart"></i>
            </a>
            <a
                class="header_user-action d-inline-flex align-items-center justify-content-center"
                data-bs-toggle="offcanvas"
                data-bs-target="#cartOffcanvas"
                aria-controls="cartOffcanvas"
            
            >
                <i class="icon-basket"></i>
            </a>
        </div>
    </div>
</header>