{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'block/title.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/preload.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/index2.css' %}">
</head>
<body>

   {% include 'block/header.html' %}
    <!-- Homepage content start -->
    <main>
        <!-- Hero section start -->
        <section class="hero">
            <div class="container d-xl-flex align-items-start">
                <div class="hero_about col-xl-6">
                    <div class="hero_header">
                        <h1 class="hero_header-title" id="first">The power of Green Remedy</h1>
                        <p class="hero_header-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut animi ad omnis, laudantium autem recusandae doloremque.
                        </p>
                        <a class="btn btn" id="btn"  href="{% url 'shop' %}">Order Now</a>
                    </div>
                    <div class="hero_contacts">
                        <p class="hero_contacts-text">Our support team is available 24/7 to resolve any product issues</p>
                        <span class="hero_contacts-data d-flex flex-column flex-sm-row align-items-center">
                            <span class="icon d-flex align-items-center justify-content-center" id="bfirst">
                                <i class="icon-call"></i>
                            </span>
                            <span class="d-flex flex-column">
                                <span>Phone number</span>
                                <a class="link" href="tel:+1234567890">+1-469-542-6344</a>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="hero_promo col-xl-6">
                    <div class="hero_promo-underlay" id="bfirst"></div>
                    <div class="hero_promo-underlay--highlight"></div>
                    <div class="hero_slider swiper">
                        <div class="swiper-wrapper">
                            <div 
                                class="hero_slider-slide d-flex flex-column flex-md-row justify-content-between justify-content-md-start align-items-md-center swiper-slide"
                            >
                                <div class="hero_slider-slide_media">
                                    <picture>
                                        <source data-srcset="{% static 'img/image1.png' %}" srcset="{% static 'img/image1.png' %}" type="image/webp" />
                                        <img class="lazy" data-src="{% static 'img/image1.png' %}" src="{% static 'img/image1.png' %}" alt="media" />
                                    </picture>
                                </div>
                                <div class="hero_slider-slide_main">
                                    <h2 class="title">Green Remedy 1</h2>
                                    <p class="text">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.     
                                    </p>
                                    <ul class="list">
                                        <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                                            <span class="icon d-flex align-items-center justify-content-center">
                                                <i class="icon-check"></i>
                                            </span>
                                            Sativa-Dominant
                                        </li>
                                        <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                                            <span class="icon d-flex align-items-center justify-content-center">
                                                <i class="icon-check"></i>
                                            </span>
                                            THC 110.0-160.0mg/g
                                        </li>
                                        <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                                            <span class="icon d-flex align-items-center justify-content-center">
                                                <i class="icon-check"></i>
                                            </span>
                                            CBD 0.0-1.0mg/g
                                        </li>
                                    </ul>
                                    <a class="btn--underline" href="#">About Product</a>
                                </div>
                            </div>
                            <div
                                class="hero_slider-slide d-flex flex-column flex-md-row justify-content-between justify-content-md-start align-items-md-center swiper-slide"
                            >
                                <div class="hero_slider-slide_media">
                                    <picture>
                                        <source data-srcset="{% static 'img/image1.png' %}" srcset="{% static 'img/image1.png' %}" type="image/webp" />
                                        <img class="lazy" data-src="{% static 'img/image1.png' %}" src="{% static 'img/image1.png' %}" alt="media" />
                                    </picture>
                                </div>
                                <div class="hero_slider-slide_main">
                                    <h2 class="title">Sour Diesel</h2>
                                    <p class="text">
                                        Pellentesque adipiscing commodo elit at imperdiet. Nisl vel pretium lectus quam id leo in vitae.
                                    </p>
                                    <ul class="list">
                                        <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                                            <span class="icon d-flex align-items-center justify-content-center">
                                                <i class="icon-check"></i>
                                            </span>
                                            Sativa-Dominant
                                        </li>
                                        <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                                            <span class="icon d-flex align-items-center justify-content-center">
                                                <i class="icon-check"></i>
                                            </span>
                                            THC 110.0-160.0mg/g
                                        </li>
                                        <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                                            <span class="icon d-flex align-items-center justify-content-center">
                                                <i class="icon-check"></i>
                                            </span>
                                            CBD 0.0-1.0mg/g
                                        </li>
                                    </ul>
                                    <a class="btn--underline" href="#">About Product</a>
                                </div>
                            </div>
                            <div
                                class="hero_slider-slide d-flex flex-column flex-md-row justify-content-between justify-content-md-start align-items-md-center swiper-slide"
                            >
                                <div class="hero_slider-slide_media">
                                    <picture>
                                        <source data-srcset="{% static 'img/image1.png' %}" srcset="{% static 'img/image1.png' %}" type="image/webp" />
                                        <img class="lazy" data-src="{% static 'img/image1.png' %}" src="{% static 'img/image1.png' %}" alt="media" />
                                    </picture>
                                </div>
                                <div class="hero_slider-slide_main">
                                    <h2 class="title">Northern Lights</h2>
                                    <p class="text">
                                        Pellentesque adipiscing commodo elit at imperdiet. Nisl vel pretium lectus quam id leo in vitae.
                                    </p>
                                    <ul class="list">
                                        <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                                            <span class="icon d-flex align-items-center justify-content-center">
                                                <i class="icon-check"></i>
                                            </span>
                                            Sativa-Dominant
                                        </li>
                                        <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                                            <span class="icon d-flex align-items-center justify-content-center">
                                                <i class="icon-check"></i>
                                            </span>
                                            THC 110.0-160.0mg/g
                                        </li>
                                        <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                                            <span class="icon d-flex align-items-center justify-content-center">
                                                <i class="icon-check"></i>
                                            </span>
                                            CBD 0.0-1.0mg/g
                                        </li>
                                    </ul>
                                    <a class="btn--underline" href="#">About Product</a>
                                </div>
                            </div>
                        </div>
                        <div class="hero-pagination swiper-pagination d-sm-flex flex-column"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero section end -->
        <!-- Featured products section start -->
        <section class="featured section--nopb popular section">
            <div class="container">
                <div class="featured_header">
                    <h2 class="featured_header-title">Featured Products</h2>
                    <p class="featured_header-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dicta, tempora ipsam enim architecto modi beatae aut deserunt repudiandae non.         
                    </p>
                </div>
                <div class="popular_slider swiper">
                    <div class="swiper-wrapper">
                        <div class="popular_slider-slide swiper-slide">
                            <div class="wrapper d-flex flex-column" id="border">
                                <div class="media" >
                                    <picture>
                                        <img src="{% static 'img/placeholder.jpg' %}" alt="media" />
                                    </picture>
                                </div>
                                <div class="main d-flex flex-column align-items-center" id="padding">
                                    <div class="main_rating">
                                        <ul class="main_rating-stars d-flex align-items-center accent">
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star_fill"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star_fill"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="featured_header-title" href="{% url 'product' %}" target="_blank" rel="noopener norefferer">
                                        Name of product 1
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="popular_slider-slide swiper-slide">
                            <div class="wrapper d-flex flex-column" id="border">
                                <div class="media" >
                                    <picture>
                                        <img src="{% static 'img/placeholder.jpg' %}" alt="media" />
                                    </picture>
                                </div>
                                <div class="main d-flex flex-column align-items-center" id="padding">
                                    <div class="main_rating">
                                        <ul class="main_rating-stars d-flex align-items-center accent">
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star_fill"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star_fill"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="featured_header-title" href="{% url 'product' %}" target="_blank" rel="noopener norefferer">
                                        name of product 2
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="popular_slider-slide swiper-slide">
                            <div class="wrapper d-flex flex-column" id="border">
                                <div class="media" >
                                    <picture>
                                        <img src="{% static 'img/placeholder.jpg' %}" alt="media" />
                                    </picture>
                                </div>
                                <div class="main d-flex flex-column align-items-center" id="padding">
                                    <div class="main_rating">
                                        <ul class="main_rating-stars d-flex align-items-center accent">
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star_fill"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star_fill"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="featured_header-title" href="{% url 'product' %}" target="_blank" rel="noopener norefferer">
                                        name of product 3
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="popular_slider-slide swiper-slide">
                            <div class="wrapper d-flex flex-column" id="border">
                                <div class="media" >
                                    <picture>
                                        <img src="{% static 'img/placeholder.jpg' %}" alt="media" />
                                    </picture>
                                </div>
                                <div class="main d-flex flex-column align-items-center" id="padding">
                                    <div class="main_rating">
                                        <ul class="main_rating-stars d-flex align-items-center accent">
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star_fill"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star_fill"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                            <li class="main_rating-stars_star">
                                                <i class="icon-star"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="featured_header-title" href="{% url 'product' %}" target="_blank" rel="noopener norefferer">
                                        name of product 4
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="featured_header">
                    <a class="featured_btn btn" href="{% url 'product' %}">All Products</a>
                </div>
            </div>
        </section>
        <!-- About section end -->
        <!-- Product section start -->
        <div class="product section">
            <div class="container d-flex flex-column flex-lg-row">
                <div class="product_media">
                    <picture>
                        <source data-srcset="{% static 'img/placeholder.jpg' %}" srcset="{% static 'img/placeholder.jpg' %}" type="image/webp" />
                        <img
                            class="lazy"
                            data-src="{% static 'img/placeholder.jpg' %}"
                            src="{% static 'img/placeholder.jpg' %}"
                            alt="CBD Facial Serum: Anti-Aging + Daily Moisturizer"
                        />
                    </picture>
                </div>
                <div class="product_main col-lg-6">
                    <a class="product_main-title" href="product.html" target="_blank" rel="noopener norefferer"
                        >CBD Facial Serum: Anti-Aging + Daily Moisturizer</a
                    >
                    <div class="product_main-rating d-flex align-items-center">
                        <ul class="product_main-rating_stars d-flex align-items-center accent">
                            <li class="star">
                                <i class="icon-star_fill"></i>
                            </li>
                            <li class="star">
                                <i class="icon-star_fill"></i>
                            </li>
                            <li class="star">
                                <i class="icon-star_fill"></i>
                            </li>
                            <li class="star">
                                <i class="icon-star_fill"></i>
                            </li>
                            <li class="star">
                                <i class="icon-star_fill"></i>
                            </li>
                        </ul>
                        <a class="product_main-rating_amount" href="#">(12)</a>
                    </div>
                    <p class="product_main-text">
                        Quis risus sed vulputate odio ut. Arcu vitae elementum curabitur vitae nunc sed. Mauris a diam maecenas sed enim
                        ut sem. Non enim praesent elementum facilisis. Sapien nec sagittis aliquam malesuada bibendum arcu vitae
                        elementum
                    </p>
                    <ul class="product_main-list">
                        <li class="list-item d-flex align-items-center">
                            <i class="icon-check icon d-flex align-items-center justify-content-center"></i>
                            Sativa-Dominant
                        </li>
                        <li class="list-item d-flex align-items-center">
                            <i class="icon-check icon d-flex align-items-center justify-content-center"></i>
                            THC 110.0-160.0mg/g
                        </li>
                        <li class="list-item d-flex align-items-center">
                            <i class="icon-check icon d-flex align-items-center justify-content-center"></i>
                            Euismod elementum
                        </li>
                        <li class="list-item d-flex align-items-center">
                            <i class="icon-check icon d-flex align-items-center justify-content-center"></i>
                            CBD 0.0-1.0mg/g
                        </li>
                    </ul>
                    <div class="product_main-action d-flex align-items-center">
                        <span class="price">$7.97</span>
                        <a class="btn" href="#">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="container" id="padding">
                <ul class="about_numbers d-flex flex-wrap">
                    <li class="about_numbers-group col-sm-6 col-lg-3" data-order="1">
                        <div class="wrapper d-flex flex-column align-items-center align-items-sm-start">
                            <span id="first" class="countNum number d-flex align-items-center secondary" data-suffix="+" data-value="200">0</span>
                            <p class="number-label">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </li>
                    <li class="about_numbers-group col-sm-6 col-lg-3" data-order="2">
                        <div class="wrapper d-flex flex-column align-items-center align-items-sm-start">
                            <span id="first" class="countNum number d-flex align-items-center secondary" data-suffix="X" data-value="3">0</span>
                            <p class="number-label">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </li>
                    <li class="about_numbers-group col-sm-6 col-lg-3" data-order="3">
                        <div class="wrapper d-flex flex-column align-items-center align-items-sm-start">
                            <span id="first" class="countNum number d-flex align-items-center secondary" data-suffix="%" data-value="100">0</span>
                            <p class="number-label">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </li>
                    <li class="about_numbers-group col-sm-6 col-lg-3" data-order="4">
                        <div class="wrapper d-flex flex-column align-items-center align-items-sm-start">
                            <span id="first" class="countNum number d-flex align-items-center secondary" data-suffix="K" data-value="11">0</span>
                            <p class="number-label">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Product section end -->
        <!-- Promo info section start -->
        <section class="info section" id="bfirst">
            <div class="info_deco">
                <div class="info_deco-wrapper">
                    <picture>
                        <img class="leaf " src="{% static 'img/image4.webp' %}" alt="">
                    </picture>
                </div>
                <div class="info_deco-wrapper">
                    <picture>
                        <picture>
                            <img class="leaf" src="{% static 'img/image4.webp' %}" alt="">
                        </picture>
                    </picture>
                </div>
            </div>

            <div class="container">
                <div class="info_content d-flex flex-column align-items-center">
                    <span class="info_content-logo">
                        <img class="logo" src="{% static 'img/logo.png' %}" alt="">
                    </span>
                    <h2 class="info_content-header">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Harum ad ipsum consectetur earum tempora ipsam consequatur.
                    </h2>
                </div>
            </div>
        </section>

<!-- dhyy -->
        <section class="faq section--nopb">
            <div class="container d-flex flex-column-reverse flex-xl-row">
                <div class="faq_media">
                    <picture>
                        <img src="{% static 'img/placeholder.jpg' %}" alt="">      
                    </picture>
                </div>
                <div class="faq_main col-xl-6">
                    <div class="faq_main-header">
                        <h2 class="faq_main-header_title">The Effects of Cannabis on Your Body</h2>
                        <p class="faq_main-header_text">
                            Elementum eu facilisis sed odio morbi quis commodo odio. Mauris rhoncus aenean vel elit scelerisque mauris
                            pellentesque. Accumsan sit amet nulla facilisi morbi tempus
                        </p>
                    </div>
                    <div class="accordion">
                        <div class="accordion_component" id="accordionComponent">
                            <!-- item 1 -->
                            <div class="accordion_component-item">
                                <h4
                                    class="accordion_component-item_header d-flex justify-content-between align-items-center collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#item-1"
                                >
                                    Reduce Inflammation and Relieve Pain
                                    <span class="wrapper">
                                        <i class="icon-caret_down icon"></i>
                                    </span>
                                </h4>
                                <div id="item-1" class="accordion-collapse collapse" data-bs-parent="#accordionComponent">
                                    <div class="accordion_component-item_body">
                                        Placerat orci nulla pellentesque dignissim enim sit amet venenatis urna. Tempus urna et pharetra
                                        pharetra massa massa ultricies mi. Elementum sagittis vitae et leo duis ut diam quam
                                    </div>
                                </div>
                            </div>
                            <!-- item 2 -->
                            <div class="accordion_component-item">
                                <h4
                                    class="accordion_component-item_header d-flex justify-content-between align-items-center"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#item-2"
                                >
                                    Kill Cancer Cells and Slow Tumor Growth
                                    <span class="wrapper">
                                        <i class="icon-caret_down transform icon"></i>
                                    </span>
                                </h4>
                                <div id="item-2" class="accordion-collapse collapse show" data-bs-parent="#accordionComponent">
                                    <div class="accordion_component-item_body">
                                        Consectetur a erat nam at. Sit amet tellus cras adipiscing enim eu turpis egestas pretium. Vel
                                        pretium lectus quam id leo in. Gravida quis blandit turpis cursus in hac habitasse platea
                                        dictumst. Elementum pulvinar etiam non quam lacus. Eget nunc scelerisque viverra mauris in. Nam
                                        at
                                    </div>
                                </div>
                            </div>
                            <!-- item 3 -->
                            <div class="accordion_component-item">
                                <h4
                                    class="accordion_component-item_header d-flex justify-content-between align-items-center collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#item-3"
                                >
                                    Relax Tight Muscles in People with MS
                                    <span class="wrapper">
                                        <i class="icon-caret_down icon"></i>
                                    </span>
                                </h4>
                                <div id="item-3" class="accordion-collapse collapse" data-bs-parent="#accordionComponent">
                                    <div class="accordion_component-item_body">
                                        Consectetur a erat nam at. Sit amet tellus cras adipiscing enim eu turpis egestas pretium. Vel
                                        pretium lectus quam id leo in. Gravida quis blandit turpis cursus in hac habitasse platea
                                        dictumst. Elementum pulvinar etiam non quam lacus. Eget nunc scelerisque viverra mauris in.
                                    </div>
                                </div>
                            </div>
                            <!-- item 4 -->
                            <div class="accordion_component-item">
                                <h4
                                    class="accordion_component-item_header d-flex justify-content-between align-items-center collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#item-4"
                                >
                                    Stimulate Appetite and Improve Weight
                                    <span class="wrapper">
                                        <i class="icon-caret_down icon"></i>
                                    </span>
                                </h4>
                                <div id="item-4" class="accordion-collapse collapse" data-bs-parent="#accordionComponent">
                                    <div class="accordion_component-item_body">
                                        Consectetur a erat nam at. Sit amet tellus cras adipiscing enim eu turpis egestas pretium. Vel
                                        pretium lectus quam id leo in. Gravida quis blandit turpis cursus in hac habitasse platea
                                        dictumst. Elementum pulvinar etiam non quam lacus. Eget nunc scelerisque viverra mauris in.
                                        Elementum pulvinar etiam non quam lacus. Eget nunc scelerisque viverra mauris in.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- Effects section end  -->
        <!-- Latest news section start -->
        <section class="latest section">
            <div class="container">
                <h2 class="latest_header">Latest News</h2>
                <div class="latest_wrapper d-flex flex-column-reverse flex-lg-row">
                    <div class="latest_promo" data-aos="fade-right">
                        <picture>
                            <source srcset="{% static 'img/placeholder.jpg' %}" type="image/webp" />
                            <img class="lazy latest_promo-bg" data-src="{% static 'img/placeholder.jpg' %}" src="{% static 'img/placeholder.jpg' %}" alt="promo" />
                        </picture>
                        <div class="overlay d-flex d-sm-block flex-column justify-content-center">
                            <h4 class="overlay_header">Buy Marijuana Seeds Online and Get a Gift</h4>
                            <p class="overlay_text">
                                Feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat pulvinar proin
                            </p>
                        </div>
                    </div>
                    <ul class="latest_list col-lg-7 col-xl-6">
                        <li class="list-item d-flex flex-column flex-sm-row" data-aos="fade-up">
                            <span class="latest_list-preview">
                                <picture>
                                    <source data-srcset="{% static 'img/placeholder.jpg' %}" srcset="{% static 'img/placeholder.jpg' %}" type="image/webp" />
                                    <img
                                        class="lazy preview-img"
                                        data-src="{% static 'img/placeholder.jpg' %}"
                                        src="{% static 'img/placeholder.jpg' %}"
                                        alt="Top 15 Best Strain Of Weed For Anxiety"
                                    />
                                </picture>
                            </span>
                            <div class="latest_list-main d-sm-flex flex-column justify-content-between flex-grow-1">
                                <span class="metadata">
                                    <span class="metadata_item d-inline-flex align-items-center">
                                        <i class="icon-calendar_day icon secondary"></i>
                                        September 30, 2021
                                    </span>
                                    <span class="metadata_item d-inline-flex align-items-center">
                                        <i class="icon-comments icon secondary"></i>
                                        <span class="number d-md-none">0</span>
                                        <span class="text d-none d-md-inline">No Comments</span>
                                    </span>
                                </span>
                                <a class="title" href="post.html">Top 15 Best Strain Of Weed For Anxiety</a>
                                <p class="text">
                                    Felis eget velit aliquet sagittis id consectetur. Eleifend donec pretium vulputate sapien nec
                                    sagittis
                                </p>
                            </div>
                        </li>
                        <li class="list-item d-flex flex-column flex-sm-row" data-aos="fade-up">
                            <span class="latest_list-preview">
                                <picture>
                                    <source data-srcset="{% static 'img/placeholder.jpg' %}" srcset="{% static 'img/placeholder.jpg' %}" type="image/webp" />
                                    <img
                                        class="lazy preview-img"
                                        data-src="{% static 'img/placeholder.jpg' %}"
                                        src="{% static 'img/placeholder.jpg' %}"
                                        alt="Raw Cannabis Seeds Promote Health"
                                    />
                                </picture>
                            </span>
                            <div class="latest_list-main d-sm-flex flex-column justify-content-between flex-grow-1">
                                <span class="metadata">
                                    <span class="metadata_item d-inline-flex align-items-center">
                                        <i class="icon-calendar_day icon secondary"></i>
                                        September 30, 2021
                                    </span>
                                    <span class="metadata_item d-inline-flex align-items-center">
                                        <i class="icon-comments icon secondary"></i>
                                        <span class="number d-md-none">0</span>
                                        <span class="text d-none d-md-inline">No Comments</span>
                                    </span>
                                </span>
                                <a class="title" href="post.html">Raw Cannabis Seeds Promote Health</a>
                                <p class="text">
                                    Felis eget velit aliquet sagittis id consectetur. Eleifend donec pretium vulputate sapien nec
                                    sagittis
                                </p>
                            </div>
                        </li>
                        <li class="list-item d-flex flex-column flex-sm-row" data-aos="fade-up">
                            <span class="latest_list-preview">
                                <picture>
                                    <source data-srcset="{% static 'img/placeholder.jpg' %}" srcset="{% static 'img/placeholder.jpg' %}" type="image/webp" />
                                    <img
                                        class="lazy preview-img"
                                        data-src="{% static 'img/placeholder.jpg' %}"
                                        src="{% static 'img/placeholder.jpg' %}"
                                        alt="How Many Autoflowers In a Tent?"
                                    />
                                </picture>
                            </span>
                            <div class="latest_list-main d-sm-flex flex-column justify-content-between flex-grow-1">
                                <span class="metadata">
                                    <span class="metadata_item d-inline-flex align-items-center">
                                        <i class="icon-calendar_day icon secondary"></i>
                                        September 30, 2021
                                    </span>
                                    <span class="metadata_item d-inline-flex align-items-center">
                                        <i class="icon-comments icon secondary"></i>
                                        <span class="number d-md-none">0</span>
                                        <span class="text d-none d-md-inline">No Comments</span>
                                    </span>
                                </span>
                                <a class="title" href="post.html">How Many Autoflowers In a Tent?</a>
                                <p class="text">
                                    Felis eget velit aliquet sagittis id consectetur. Eleifend donec pretium vulputate sapien nec
                                    sagittis
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Latest news section end -->
    </main>
    <!-- Homepage content end -->
    {% include 'block/footer.html' %}
    {% include 'block/cart.html' %}
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
    
    <script src="{% static 'js/common.min.js' %}"></script>
    <script src="{% static 'js/index.min.js' %}"></script>
</body>
</html>